h1.intro__header {
    font-family: $font-title;
    color: $font-title-color;
    font-size: $font-title-size;
    margin-top: 2%;
    margin-bottom: 1.2%;
}

.intro__header-secondary {
    font-family: $font-title;
    font-size: 0.875em;
    font-weight: bold;
}