// backgrounds-colors
$body-background: #ffffff;
$body-secondary:#ebebeb;
$header-background: #1e77a6;
$button-background: #fdaf1e;
$border: #d4d4d4;
// fonts
$font-title: 'Open Sans',
sans-serif;
$font-body: 'Open Sans',
sans-serif;
$font-main: 'Open Sans',
sans-serif;
;
// font color
$font-title-color: #f99d1c;
$font-secondary-title-color: #888888;
$font-secondary-title-color-main: #888888;
$font-third-title-color: #359ac0;
$font-third-title-color-light:#959595;
$font-paragraph-color:#888888;
$font-title-color-main-info:#359ac0;
$font-color-span: #ffffff;
// font size
$font-title-size:1.4375em;
$font-title-size-main-hardware:2em;
$font-title-main-hardware-box: 1.1875em;
$font-title-main-hardware-box-regular: 1.125em;
$font-title-main-info:1.125em;
$font-paragraph:0.875em;
$font-paragraph-regular:0.9375em;